body,
h1 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  color: yellow;
}

#resultado {
  margin-top: 10px;
}

p {
  color: red;
}
